<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <activity
            android:name=".shell.ProbeActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />

        <activity-alias
            android:name=".shell.ProbeLauncherAlias"
            android:targetActivity=".shell.ProbeActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/probe_icon"
            android:label="Probe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".shell.ProbeNotificationPermissionActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name=".platform.ProbeFileProvider"
            android:authorities="${applicationId}.probe.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/probe_file_paths" />
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.dev.probe.startup.ProbeStartupInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
